{erl_opts, [debug_info,
           warnings_as_errors,
           {parse_transform, lager_transform}]}.

{deps, [
    {nkdomain, {git, "https://github.com/netcomposer/nkdomain", {branch, "v09"}}},
    {nktranscoder, {git, "https://github.com/netcomposer/nktranscoder", {branch, "master"}}},
    {nkimage, {git, "https://github.com/netcomposer/nkimage", {branch, "master"}}},
    {lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}}
]}.
